@using AssignmentDAL.Repositories;
@model PagedList<AssignmentDAL.Model.TableView>
@{
    var list = Model.ToList();
    int nextPage = 0, previousPage = 0;
    if (Model.hasNext)
    {
        nextPage = Model.CurrentPage + 1;
    }
    if (Model.hasPrevious)
    {
        previousPage = Model.CurrentPage - 1;
    }
    int first = (Model.CurrentPage - 1) * Model.PageSize + 1;
    if (Model.TotalCount == 0)
    {
        first = 0;
    }
    int last;
    if (first + Model.PageSize - 1 > Model.TotalCount)
    {
        last = Model.TotalCount;
    }
    else
    {
        last = first + Model.PageSize - 1;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>Patient Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Disease</th>
            <th>Doctor</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Patientid</td>
                    <td>@record.Firstname</td>
                    <td>@record.Lastname</td>
                    <td>@record.Email</td>
                    <td>@record.Age</td>
                    <td>@record.Phonenumber</td>
                    <td>@record.Gender</td>
                    <td>@record.Disease</td>
                    <td>@record.Doctor</td>
                    <td>
                        <button class="btn btn-primary" onclick="editPatient(@record.Patientid)">
                            Edit
                        </button>
                        <button class="btn btn-danger" onclick="deletePatient(@record.Patientid)">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.Count > 0)
{
    <div class="d-flex justify-content-end align-items-center">
        <div class="d-flex justify-content-center">
            <p>
                Items per page
            </p>
            <select asp-for="@Model.PageSize" class="mx-3 p-0" id="pagesize" onchange="changepagesize()">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="d-flex justify-content-center">
            <p>
                @first - @last of @Model.TotalCount
            </p>
        </div>
        <div>
            <ul class="pagination justify-content-center mt-2 mb-4 ">
                <li class="page-item mx-1 ">
                    <a class="page-link rounded "
                    @if (Model.hasPrevious)
                    {
                        <text>
                            onclick = "changepage(@previousPage)"
                            
                        </text>
                    }>
                        <i class="bi bi-chevron-left text-black"></i>
                    </a>
                </li>

                <li class="page-item mx-1">
                    <a class="page-link" 
                    @if (Model.hasNext)
                    {
                        <text>
                            onclick = "changepage(@nextPage)"
                        </text>

                    }>
                        <i class="bi bi-chevron-right text-black"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <p class="fw-bold align-items-center d-flex justify-content-center">No Requests to display</p>
}