@model HalloDocDAL.Model.AdminDashboard
@{
    var list = Model.pagedList.ToList();
    int nextPage = 0, previousPage = 0;
    if (Model.pagedList.hasNext)
    {
        nextPage = Model.pagedList.CurrentPage + 1;
    }
    if (Model.pagedList.hasPrevious)
    {
        previousPage = Model.pagedList.CurrentPage - 1;
    }
    int first = Model.pagedList.CurrentPage * Model.pagedList.PageSize - 9;
    int last;
    if (first + Model.pagedList.PageSize - 1 > Model.pagedList.TotalCount)
    {
        last = Model.pagedList.TotalCount;
    }
    else
    {
        last = first + Model.pagedList.PageSize - 1;
    }

    string[] colors = { "#5fbc61", "#ed9124", "#007fc6", "#e26277" };
    @if (Model.pagedList != null && Model.pagedList.Count > 0)
    {
        @foreach (var obj in Model.pagedList)
        {
            <div class="d-md-none tr" data-rid="@obj.requestId">
                <div class="bg-info-subtle " data-bs-toggle="collapse" data-bs-target="#collapseexample_@obj.requestId"
                     aria-expanded="false" aria-controls="collapseexample">
                    <div class="td" name='reqtype' hidden>
                        @obj.requesttype
                    </div>
                    <div class="flex-column gap-2 border-bottom border-5 pt-3 pb-5 px-4">
                        <div class="d-flex  justify-content-between mb-3">
                            <span class="mobilesearch fs-5 td" name="Name">@obj.firstName @obj.lastName</span>
                            @if (obj.requesttype == 4)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #e36478;"></div>
                                    <span class="fs-5">Business</span>
                                </div>
                            }
                            else if (obj.requesttype == 1)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #60bc60;"></div>
                                    <span class="fs-5">Patient</span>
                                </div>
                            }
                            else if (obj.requesttype == 2)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #ee9125;"></div>
                                    <span class="fs-5">Family/Friend</span>
                                </div>
                            }
                            else if (obj.requesttype == 3)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #007fc7;"></div>
                                    <span class="fs-5">Concierge</span>
                                </div>
                            }
                        </div>
                        <div class="d-flex justify-content-between ">
                            <div class="">
                                <span class="fs-5">@obj.address</span>
                            </div>
                            <button class="btn btn-transparent border border-1 border-info text-info rounded-5">Map Location</button>
                        </div>

                    </div>
                </div>

                <div class="collapse position-relative" id="collapseexample_@obj.requestId">
                    <div class="d-flex flex-column gap-2 bg-info-subtle   mb-2 py-3 px-4 ">
                        <div class="text-end position-absolute w-100">
                            <a role="button" class="btn w-25 rounded-5 position-relative" style="background-color:white;bottom:35px;right:25px; color:#943DB8; border:1px solid #943DB8" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                        </div>

                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-calendar fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Date of Birth: @obj.dobdate / @obj.dobmonth / @obj.dobyear</span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-envelope fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5 ">Email: <span class="email">@obj.email</span></span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-phone fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5 ">Phone: <span class="phone">@obj.phone</span></span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-user fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Requestor: @obj.requestor</span>
                        </div>
                        @if (Model.pagedList[0].status == 1)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 assigncase" style="background-color: #943DB8">Assign Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5 cancelcase" style="background-color:  #E42929">Cancel Case</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #E42929" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 blockcase" style="background-color: #228B22">Block Patient</a>

                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 2)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 transferCase" style="background-color: #00ADEF">Transfer</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 clearCase" style="background-color: #EE9125">Clear Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 sendAgreement" style="background-color: #228B22">Send Agreement</a>
                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 3)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #00ADEF" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})">Orders</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125">Doctors Note</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">Encounter</a>
                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 4 || Model.pagedList[0].status == 4)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #E42929" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})">Orders</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #145545">Doctors Note</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">Encounter</a>

                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 6)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #E42929" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    }

    @if (Model != null)
    {
        <div class="tablediv d-none d-md-flex table-responsive">
            <table class="table w-100 caseTable" id="adminTable">
                <thead class="w-100">
                    <tr>
                        <th scope="col" class="bg-secondary bg-opacity-25 ps-4" colspan="2">Name</th>

                        @if (Model.state != 6)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Date Of Birth</th>
                        }


                        @if (Model.state == 1 || Model.state == 2 || Model.state == 3)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Requestor</th>
                        }

                        @if (Model.state == 5)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Region</th>
                        }

                        @if (Model.state == 1)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Requested Date</th>
                        }

                        @if (Model.state != 1)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Physician Name</th>
                            <th scope="col" class="bg-secondary bg-opacity-25">Date Of Service</th>
                        }

                        @if (Model.state == 1 || Model.state == 2 || Model.state == 3 || Model.state == 4 || Model.state == 6)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Phone</th>
                        }

                        <th scope="col" class="bg-secondary bg-opacity-25">Address</th>

                        @if (Model.state != 6 && Model.state != 4)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Notes</th>
                        }
                        <th scope="col" class="bg-secondary bg-opacity-25">Actions</th>


                    </tr>
                </thead>
                <tbody class="w-100">

                    @foreach (var obj in Model.pagedList)
                    {
                        <tr style="color:white !important" data-rid="@obj.requestId" class="tr-@obj.requesttype align-middle tr">


                            <td style="background:none;"class="td ps-4" name="Name">@obj.firstName @obj.lastName</td>

                            <td>
                                <a type="button" name="email" class="btn border border-light text-light" href="mailto:@obj.email">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                    </svg>
                                    <span hidden class="email">
                                        @obj.email
                                    </span>
                                    
                                </a>
                            </td>
                            @if (obj.status == 1 || obj.status == 2 || obj.status == 3 || obj.status == 4 || obj.status == 5 || obj.status == 6 || obj.status == 7 || obj.status == 8)
                            {
                                <td>@obj.dobdate/@obj.dobmonth/@obj.dobyear</td>
                            }

                            @if (obj.status == 1 || obj.status == 2 || obj.status == 4 || obj.status == 5)
                            {
                                <td>@obj.requestor</td>
                            }

                            @if (obj.status == 3 || obj.status == 7 || obj.status == 8)
                            {
                                <td>@obj.regionId</td>
                            }

                            @if (obj.status == 1)
                            {
                                <td>@obj.requestDate</td>
                            }

                            @if (obj.status == 9 || obj.status == 2 || obj.status == 3 || obj.status == 4 || obj.status == 5 || obj.status == 6 || obj.status == 7 || obj.status == 8)
                            {
                                <td>@obj.pname</td>
                                <td>DateOfService</td>
                            }

                            @if (obj.status == 1 || obj.status == 2 || obj.status == 4 || obj.status == 5 || obj.status == 6 || obj.status == 9)
                            {
                                <td>
                                    <button type="button" class="btn btn-outline-light phone"><i class="bi bi-telephone text-white"></i>@obj.phone</button><br>(Patient)
                                    @if (obj.cphone != null && obj.requesttype != 1)
                                    {
                                        <br>

                                        <button type="button" class="btn btn-outline-light"><i class="bi bi-telephone text-white"></i>@obj.cphone</button>

                                        <br>
                                        @if (obj.requesttype == 2)
                                        {
                                            <span>(Family/Friend)</span>
                                        }
                                        else if (obj.requesttype == 3)
                                        {
                                            <span>(Concierge)</span>
                                        }
                                        else
                                        {
                                            <span>(Business)</span>
                                        }
                                    }

                                </td>
                            }

                            <td>@obj.address</td>

                            @if (obj.status == 1 || obj.status == 2 || obj.status == 3 || obj.status == 4 || obj.status == 5 || obj.status == 7 || obj.status == 8)
                            {
                                <td>@obj.notes</td>
                            }

                            <td>
                                @if (@obj.status == 1)
                                {
                                    <div class="dropdown bg-transparent">
                                        <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu z-3" aria-labelledby="action">
                                            <li><a class="dropdown-item theme-color assigncase" href="#"><i class="fa-regular fa-clipboard"></i>Assign Case</a></li>
                                            <li><a class="dropdown-item theme-color cancelcase"><i class="fa-regular fa-circle-xmark"></i> Cancel case</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper"></i> View Case</a></li>
                                            <li><a class="dropdown-item theme-color viewnotes"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                            <li><a class="dropdown-item theme-color blockcase" href="#"><i class="fa-solid fa-ban"></i> Block Patient</a></li>
                                        </ul>
                                    </div>
                                }
                                else if (@obj.status == 2)
                                {
                                    <div class="dropdown bg-transparent ">
                                        <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu z-3" aria-labelledby="action">
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper"></i> View Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload"></i> View Uploads</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                            <li><a class="dropdown-item theme-color transferCase" href="#"><i class="fa-regular fa-note-sticky"></i> Transfer</a></li>
                                            <li><a class="dropdown-item theme-color clearCase" href="#"><i class="fa-regular fa-circle-xmark"></i> Clear Case</a></li>
                                            <li><a class="dropdown-item theme-color sendAgreement" href="#"><i class="fa-solid fa-file-lines"></i> Send Agreement</a></li>
                                        </ul>
                                    </div>
                                }
                                else if (@obj.status == 4 || @obj.status == 5 || @obj.status == 6)
                                {
                                    <div class="dropdown bg-transparent">
                                        <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="action">
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper"></i> View Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload"></i> View Uploads</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-cart-plus"></i> Orders</a></li>
                                            <li><a class="dropdown-item theme-color" href="#"><i class="fa-regular fa-note-sticky"></i> Doctors Note</a></li>
                                            <li><a class="dropdown-item theme-color" onclick="Encounter(@obj.requestId,@obj.isFinalized.ToString().ToLower())"><i class="fa-regular fa-note-sticky"></i> Encounter</a></li>
                                        </ul>
                                    </div>
                                }
                                else if (@obj.status == 3 || @obj.status == 7 || @obj.status == 8)
                                {
                                    <div class="dropdown bg-transparent">
                                        <button class="btn btn-outline-light  " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="action">
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper"></i> View Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload"></i> View Uploads</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-cart-plus"></i> Orders</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("CloseCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-circle-xmark"></i> Close Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="#"><i class="fa-regular fa-note-sticky"></i> Doctors Note</a></li>
                                            <li><a class="dropdown-item theme-color clearCase" href="#"><i class="fa-regular fa-circle-xmark"></i> Clear Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="#"><i class="fa-regular fa-note-sticky"></i> Encounter</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown bg-transparent">
                                        <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="action">
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper"></i> View Case</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload"></i> View Uploads</a></li>
                                            <li><a class="dropdown-item theme-color" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-notes-medical"></i> View Notes</a></li>
                                        </ul>
                                    </div>
                                }

                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <p>
                @first - @last of @Model.pagedList.TotalCount
            </p>
        </div>
        <div>
            <ul class="pagination justify-content-center mt-2 mb-4 ">
                <li class="page-item mx-1 ">
                    <a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@previousPage)">&laquo;</a>
                </li>
                @if (Model.pagedList.hasPrevious)
                {
                    <li class="page-item mx-1"><a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@previousPage)"> @previousPage </a></li>
                }

                <li class="page-item active mx-1">
                    <span class="page-link  bg-info border-info rounded">
                        @Model.pagedList.CurrentPage
                        <span class="sr-only">(current)</span>
                    </span>
                </li>

                @if (Model.pagedList.hasNext)
                {
                    <li class="page-item mx-1"><a class="page-link theme-color theme-background border-secondary-subtle rounded" onclick="changepage(@nextPage)"> @nextPage </a></li>
                }

                <li class="page-item mx-1">
                    <a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@nextPage)">&raquo;</a>
                </li>
            </ul>
        </div>

    }
}
<div class="modal fade" id="cancelcaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Confirm Cancellation</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formcancel" method="post">
                    <p class="text-secondary"> Patient Name : <span class="text-info" id="cancelcaseName"> </span> </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                    <div class="form-group mb-3">
                        <select class="form-control" id="reason" name="reason" placeholder=" " required>
                            <option hidden value="">Reason for cancellation</option>
                            <option value="1">No Response to call or text</option>
                            <option value="2">Cost Issue</option>
                            <option value="3">Insurance Issue</option>
                            <option value="4">Out of service area</option>
                            <option value="5">Not appropriate for service</option>
                            <option value="6">Referral to Clinic or Hospital</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating required">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floatingLabel"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="assignCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Assign Request</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formassign" method="post">
                    <p class="text-secondary"> To assign the request, search and select another physician </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                    <div class="form-group mb-3">
                        <select class="form-control regionSelect" id="regionSelect" name="regionSelect" placeholder=" " required>
                            <option hidden value="">Region</option>
                            @foreach (var region in Model.regions)
                            {
                                <option value="@region.Regionid">@region.Name</option>
                            }

                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <select class="form-control physicianSelect" id="physicianSelect" name="physicianSelect" placeholder=" " required>
                            <option hidden value="">Physician</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating required">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floatingLabel"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transferCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Transfer Request</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formassign" method="post">
                    <p class="text-secondary"> To transfer the request, search and select another physician </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                    <div class="form-group mb-3">
                        <select class="form-control regionSelect" id="regionSelect" name="regionSelect" placeholder=" " required>
                            <option hidden value="">Region</option>
                            @foreach (var region in Model.regions)
                            {
                                <option value="@region.Regionid">@region.Name</option>
                            }

                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <select class="form-control physicianSelect" id="physicianSelect" name="physicianSelect" placeholder=" " required>
                            <option hidden value="">Physician</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating required">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floatingLabel"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="blockcaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Block Case</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formblock" method="post">
                    <p class="text-secondary"> Patient Name : <span class="text-info" id="blockcaseName"> </span> </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating required">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floatingLabel"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Send Agreement</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <div class="border border-1 rounded-5 m-1" id="circle" style="width: 15px; height:15px;"></div>
                    <span class="fs-5" id="sendtype"></span>
                </div>
                <p class="text-secondary">To send the agreement please make sure you are updating the correct contact information below for the responsible party</p>
                <form id="sendAgreementForm" method="post">

                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />

                    <div class="form-group mb-3">
                        <div class="form-group pb-3 form-floating required">
                            <input type="text" placeholder="Phone Number" class="form-control" id="sendnumber" name="sendnumber"
                                   aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="floating-label">Phone Number</label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="form-group pb-3 form-floating required">
                            <input type="text" placeholder="Email" class="form-control" id="sendemail" name="sendemail"
                                   aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="floating-label">Email</label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clearCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body p-5">
                <i class="fa-solid fa-circle-exclamation fa-4x text-warning border border-1 p-2 border-warning rounded-circle mb-3"></i>
                <h3>Confirmation for clear case</h3>
                <p>Are sure you want to clear this request? Once clear this request then you are not able to see this request.</p>
                <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                <button type="button" class="btn btn-info text-light" id="clearCase">Clear</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="encounterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Encounter Form</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">Encounter Form is Finalized successfully</p>
                <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                <div class="text-center">
                    <button type="button" id="downenc" class="btn btn-info text-white">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#formcancel').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.required').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"

                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })
            if (validate) {
                $.ajax({
                    url: '@Url.Action("CancelCase","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "Request cancelled succesfully",
                                icon: "success"
                            }).finally(() => {
                                window.location.reload();
                            });

                        }
                        else {
                            if (result.message != null) {
                                alert(result.message)
                            }
                            else {
                                window.location.href = "/Login/PatientLogin";
                            }
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }
        });

        $('.viewnotes').click(function () {
            var rid = $(this).closest('.tr').data('rid');
            $.ajax({
                url: '@Url.Action("ViewNotes","AdminDashboard")',
                type: 'POST',
                data: { requestid: rid },
                success: function (data) {
                    $('#divdiv').html(data);
                },
                error: function (error) {

                }
            });
        })

        $('.regionSelect').change(function () {
            var selectedRegion = $(this).val();
            $.ajax({
                url: '@Url.Action("GetPhysiciansByRegion","AdminDashboard")',
                type: 'POST',
                data: { region: selectedRegion },
                success: function (data) {
                    var physicianSelect = $('.physicianSelect');
                    physicianSelect.empty().append('<option value="">Select Physician</option>');
                    $.each(data, function (i, physician) {
                        physicianSelect.append($('<option>', {
                            value: physician.Physicianid,
                            text: physician.Firstname
                        }));
                    });
                },
                error: function (error) {
                    console.error('Error fetching Physicians:', error)
                }
            });
        });

        $('#formassign').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.required').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"

                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })
            if (validate) {
                $.ajax({
                    url: '@Url.Action("AssignCase","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "Request assigned succesfully",
                                icon: "success"
                            }).finally(() => {
                                window.location.reload();
                            });

                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }

        });


        $('#formblock').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.required').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"

                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })
            if (validate) {
                $.ajax({
                    url: '@Url.Action("BlockCase","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "Request blocked",
                                icon: "success"
                            }).finally(() => {
                                window.location.reload();
                            });

                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }

        });

        $('#clearCase').on('click', function () {

            var id = $(".requestId").val();
            console.log();
            $.ajax({
                url: '@Url.Action("ClearCase","AdminDashboard")',
                type: 'POST',
                data: { requestid: id },
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Request cleared",
                            icon: "success"
                        }).finally(() => {
                            window.location.reload();
                        });

                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('An error occured');
                }
            });
        });

        $('#sendAgreementForm').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.required').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"

                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })
            if (validate) {
                $.ajax({
                    url: '@Url.Action("SendAgreement","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            $("#sendAgreementModal").modal('hide');
                            Swal.fire({
                                title: "Success!",
                                text: "Email Sent",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 1500
                            })

                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }

        });
        $("#downenc").click(function () {
            var rid = $('.requestId').val();
            $.ajax({
                url: '@Url.Action("GeneratePDF","AdminDashboard")',
                data: { requestid: rid },
                success: function () {
                    window.location.href = '@Url.Action("GeneratePDF","AdminDashboard")' + "?requestid=" + rid;
                }
            })
        })
    });


</script>

<script>
    $(document).on("click", ".cancelcase", function () {
        $("#cancelcaseModal").modal('show');
        $("#cancelcaseName").text($(this).closest('.tr').find(".td[name='Name']").text());
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".assigncase", function () {
        $("#assignCaseModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".blockcase", function () {
        $("#blockcaseModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".transferCase", function () {
        $("#transferCaseModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".clearCase", function () {
        $("#clearCaseModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });




    $(document).on("click", ".sendAgreement", function () {
        $("#sendAgreementModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
        $("#sendnumber").val($(this).closest('.tr').find(".phone").text());
        $("#sendemail").val($(this).closest('.tr').find(".email").text().trim());

        var rt = $(this).closest('.tr').find(".td[name='reqtype']").text();

        if (rt == 1) {
            $("#sendtype").text("Patient");
            $("#circle").css("background-color", "#60bc60");
        }
        else if (rt == 2) {
            $("#sendtype").text("Family/Friend");
            $("#circle").css("background-color", "#ee9125");

        }
        else if (rt == 3) {
            $("#sendtype").text("Concierge");
            $("#circle").css("background-color", "#007fc7");

        }
        else {
            $("#sendtype").text("Business");
            $("#circle").css("background-color", "#e36478");

        }
    });

    function Encounter(rid, isFinalized) {
        if (isFinalized) {
            $("#encounterModal").modal('show');
            $(".requestId").val(rid);
        }
        else {
            location.href = "/AdminDashboard/Encounter?requestid=" + rid;
        }
    }


</script>