@model HalloDocDAL.Model.AdminDashboard
@{
    Layout = "_adminDash";
    int newCase = 0;
    int pendingCase = 0;
    int activeCase = 0;
    int concludeCase = 0;
    int toCloseCase = 0;
    int unpaidCase = 0;
   
    foreach (var req in Model.Data)
    {
        if (req.status == 1)
        {
            newCase++;
        }
        else if (req.status == 2)
        {
            pendingCase++;
        }
        else if (req.status == 4 || req.status == 5)
        {
            activeCase++;
        }
        else if (req.status == 6)
        {
            concludeCase++;
        }
        else if (req.status == 3 || req.status == 7 || req.status == 8)
        {
            toCloseCase++;
        }
        else if (req.status == 9)
        {
            unpaidCase++;
        }
    }
}

<ul class="nav nav-justified m-2 d-flex flex-wrap" id="dashboard_tab" role="tablist">
    <li class="nav-item m-2 col">
        <button class="nav-link new mb-0 active bg-primary-subtle text-primary border border-primary rounded" id="new-tab" data-bs-toggle="tab" data-bs-target="#new" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <span></span>
                    <span class="ms-2">NEW</span>
                </div>
                <div class="text-start fs-3 fw-bold">
                    @newCase
                </div>
            </div>
        </button>
        <div class=" d-none d-md-flex justify-content-center text-align-center w-100 align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(32,63,154)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link pending bg-info-subtle text-info border border-info rounded" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"></path>
                    </svg>
                    <span class="ms-2">PENDING</span>
                </div>
                <div class="text-start fs-3 fw-bold">@pendingCase</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(37,164,202)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link act bg-success-subtle text-success border border-success rounded" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"></path>
                    </svg>
                    <span class="ms-2">ACTIVE</span>
                </div>
                <div class="text-start fs-3 fw-bold">@activeCase</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(48,129,62)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link conclude border border-danger rounded" style="color:rgb(174,38,119);background-color:rgb(247,230,238)" id="conclude-tab" data-bs-toggle="tab" data-bs-target="#conclude" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path>
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"></path>
                    </svg>
                    <span class="ms-2">CONCLUDE</span>
                </div>
                <div class="text-start fs-3 fw-bold">@concludeCase</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(174,38,119)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link toclose rounded" style="color:rgb(37,110,176);background-color:rgb(229,238,245)" id="toclose-tab" data-bs-toggle="tab" data-bs-target="#toclose" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"></path>
                    </svg>
                    <span class="ms-2 d-flex flex-nowrap">TO CLOSE</span>
                </div>
                <div class="text-start fs-3 fw-bold">@toCloseCase</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(37,110,176)"></div>
        </div>
    </li>

    <li class="nav-item m-2 col">
        <button class="nav-link unpaid rounded" style="color:rgb(145,105,179);background-color:rgb(239,238,244)" id="unpaid-tab" data-bs-toggle="tab" data-bs-target="#unpaid" type="button" role="tab" aria-controls="home" aria-selected="true">
            <div class="py-2 ps-2 w-100">
                <div class="d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"></path>
                    </svg>
                    <span class="ms-2">UNPAID</span>
                </div>
                <div class="text-start fs-3 fw-bold">@unpaidCase</div>
            </div>
        </button>
        <div class="justify-content-center text-align-center w-100 d-none d-md-flex align-items-center">
            <div class="arrow-down text-opacity-25" style="color:rgb(145,105,179)"></div>
        </div>
    </li>
</ul>
<div class="d-flex flex-wrap align-items-center justify-content-between m-1 m-md-3 p-first-part">
    <div class="d-flex align-items-center fw-semibold fs-5">
        <h3>
            Patients <span style="font-size: 20px;" id="statusof">  </span>
        </h3>
    </div>

    <div class="d-flex align-items-center">
        <button type="button" class="btn btn-info text-white me-1" data-bs-toggle="modal" data-bs-target="#sendLinkModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"></path>
            </svg>
            <span class="d-none d-md-inline"> Send Link </span>
        </button>

        <button type="button" class="btn btn-info text-white me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
            </svg>
            <span class="d-none d-md-inline"> Create Request </span>
        </button>

        <button type="button" class="btn btn-info text-white me-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path transform="scale(-1, 1) translate(-16,0)" d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
            </svg>
            <span class="d-none d-md-inline"> Export </span>
        </button>

        <button type="button" class="btn btn-info text-white me-1">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                <path transform="scale(-1, 1) translate(-16,0)" d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z" />
                <text x="10" y="18" style="font-size: 5px;fill: white">ALL</text>
            </svg>
            <span class="d-none d-md-inline"> Export All </span>
        </button>

        <button type="button" class="btn btn-info text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
            </svg>
            <span class="d-none d-md-inline"> Request DTY Support </span>
        </button>
    </div>
</div>

<div class="d-inline d-md-flex ps-3 mt-3 align-items-center justify-content-between m-3">
    <div class="d-inline d-md-flex form-group">
        <div class="d-flex normal-input rounded align-items-center ps-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" class="position-absolute" style="left:15px" width="20" height="20" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                </path>
            </svg>
            <input type="text" class="form-control ps-5" placeholder="Search Patients" id="search" onkeyup="search()">
        </div>

        <div class="d-flex form-group normal-input rounded align-items-center ms-2 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 50 50" class="position-absolute" style="left:10px">
                <path d="M 21 3 C 11.654545 3 4 10.654545 4 20 C 4 29.345455 11.654545 37 21 37 C 24.701287 37 28.127393 35.786719 30.927734 33.755859 L 44.085938 46.914062 L 46.914062 44.085938 L 33.875 31.046875 C 36.43682 28.068316 38 24.210207 38 20 C 38 10.654545 30.345455 3 21 3 z M 21 5 C 29.254545 5 36 11.745455 36 20 C 36 28.254545 29.254545 35 21 35 C 12.745455 35 6 28.254545 6 20 C 6 11.745455 12.745455 5 21 5 z">
                </path>
            </svg>
            <select onchange="regionFilter()" id="region" class="form-select ps-5 form-control" aria-label="Default select example">
                <option selected value="0">All Regions</option>
                @foreach (var region in Model.regions)
                {
                    <option value="@region.Regionid">@region.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="d-flex align-items-center">
        <button onclick="allrequests()" class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2 d-none d-md-block" style="font-size: 13px;">
            <span>All</span>
        </button>

        <button onclick="filterrequests(1)" class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2" style="font-size: 13px;">
            <div class="d-inline d-md-flex">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#5fbc61" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Patient</span>
            </div>
        </button>

        <button onclick="filterrequests(2)" class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2" style="font-size: 13px;">
            <div class="d-inline d-md-flex">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#ed9124" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Family/Friend</span>
            </div>
        </button>

        <button onclick="filterrequests(3)" class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2" style="font-size: 13px;">
            <div class="d-inline d-md-flex">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#007fc6" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Concierge</span>
            </div>
        </button>

        <button onclick="filterrequests(4)" class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2" style="font-size: 13px;">
            <div class="d-inline d-md-flex">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#e26277" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">Business</span>
            </div>
        </button>

        <button class="rounded theme-color border-0 bg-transparent d-flex align-items-center ms-0 ms-md-2" style="font-size: 13px;">
            <div class="d-inline d-md-flex">
                <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle fill="#9966cd" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                </svg>
                <span class="ms-2">VIP</span>
            </div>
        </button>
    </div>
</div>

<div id="partial-load">
</div>

<div class="modal fade" id="sendLinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Send Mail to Patient for submitting request</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSendLink" method="post">
                    <div class="form-floating required mb-3">
                        <input type="text" class=" form-control" id="fname" name="fname" placeholder=" ">
                        <label for="fname" class=" floating-label">First Name</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>
                    <div class="form-floating required mb-3">
                        <input type="text" class=" form-control" id="lname" name="lname" placeholder=" ">
                        <label for="fname" class=" floating-label">Last Name</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>
                    <div class="form-floating mb-3 h-100 z-3 required">
                        <input type="tel" class=" form-control h-100" id="tel" name="tel" placeholder="Phone Number">
                        <span style="color:red; display:none">Required!</span>
                    </div>
                    <div class="form-floating mb-3 required">
                        <input type="email" class=" form-control" id="email" name="email" placeholder=" ">
                        <label for="email" class=" floating-label">Email address</label>
                        <span style="color:red; display:none">Required!</span>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.nav-link');

        buttons.forEach(button => {
            button.addEventListener('click', function () {

                const arrowDown = this.nextElementSibling.querySelector('.arrow-down');
                document.querySelectorAll('.arrow-down').forEach(arrow => arrow.style.display = 'none');
                arrowDown.style.display = this.classList.contains('active') ? 'block' : 'none';
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const newTabButton = document.getElementById('new-tab');
        newTabButton.click();
    });

    function filterrequests(reqtype) {
        table = document.getElementsByClassName("caseTable");
        for (j = 0; j < table.length; j++) {
            tr = table[j].getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    intValue = td.innerText;
                    //indexOf will return the position of first matched character
                    if (intValue == reqtype) {
                        tr[i].style.display = "";
                    }
                    else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

    function allrequests() {
        table = document.getElementsByClassName("caseTable");
        for (i = 0; i < table.length; i++) {
            tr = table[i].getElementsByTagName("tr");
            for (j = 0; j < tr.length; j++) {
                tr[j].style.display = "";
            }
        }

    }

    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("adminTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].classList.remove("d-none");
                } else {
                    tr[i].classList.add("d-none");;
                }
            }
        }
    }

    function regionFilter() {
        var region = document.getElementById("region");
        table = document.getElementById("adminTable");
        tr = table.getElementsByTagName("tr");
        if (region.value == 0) {
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    tr[i].classList.remove("region-filter");
                }
            }
        }
        else {
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase() == region.value) {
                        tr[i].classList.remove("region-filter");
                    } else {
                        tr[i].classList.add("region-filter");;
                    }
                }
            }
        }

    }

    $(document).ready(function () {
        $('#new-tab').click(function () {
            $('#statusof').html('(New)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/NewCasePartial');
        });
        $('#pending-tab').click(function () {
            $('#statusof').html('(Pending)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/PendingCasePartial');
        });
        $('#active-tab').click(function () {
            $('#statusof').html('(Active)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/ActiveCasePartial');
        });
        $('#conclude-tab').click(function () {
            $('#statusof').html('(Conclude)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/ConcludeCasePartial');
        });
        $('#toclose-tab').click(function () {
            $('#statusof').html('(To close)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/ToCloseCasePartial');
        });
        $('#unpaid-tab').click(function () {
            $('#statusof').html('(Unpaid)');
            $('#search').val('');
            $('#partial-load').load('/AdminDashboard/UnpaidCasePartial');
        });

        $('#new-tab').click();

        $('#formSendLink').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.required').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"
                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })

            if (validate) {
                $('#sendLinkModal').hide();
                $.ajax({
                    url: '@Url.Action("SendLink","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "Email sent",
                                icon: "success"
                            }).finally(() => {
                                $('#sendLinkModal').modal('hide');
                            })
                        }
                        else {
                            alert(result.message);
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }
        });
        $('#welcome').text("@TempData["email"]");
    });
</script>

