@model HalloDocDAL.Model.AdminDashboardData

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-between my-3">
            <h4>Notes</h4>
            <button class="float-end my-4 btn btn-outline-info backBtn" onclick="history.back()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                     height="16" fill="currentColor" class="bi bi-chevron-left fw-medium mb-1" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>Back
            </button>
        </div>
        <div class="col-6 mb-3">
            <div class="card bg-white rounded shadow border-0">
                <div class="card-body">
                    <h6 class="card-title"><i class="fa-solid fa-arrow-right-arrow-left"></i>Transfer Notes</h6>
                    @if (Model.transferNotes != null)
                    {
                        @foreach (var note in Model.transferNotes)
                        {

                            <p class="m-0">@note</p>
                        }
                    }

                </div>
            </div>
        </div>
        <div class="col-6 mb-3">
            <div class="card bg-white rounded shadow border-0">
                <div class="card-body">
                    <h6 class="card-title"><i class="fa-solid fa-arrow-right-arrow-left"></i>Physician Notes</h6>
                    @Model.physicianNotes
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-white rounded shadow border-0">
                <div class="card-body">
                    <h6 class="card-title"><i class="fa-solid fa-arrow-right-arrow-left"></i>Admin Notes</h6>
                    @Model.adminNotes
                </div>
            </div>
        </div>


    </div>
    <div class="row mt-3 mx-0">

        <div class="col-12 border-0 rounded shadow">
            <div class="form-floating my-3 ">
                <textarea class="form-control text-wrap" placeholder=" "
                          id="floatingTextarea2" style="height: 150px" required></textarea>
                <label for="floatingTextarea2 floating-label" class="text-wrap">Additional Notes</label>
            </div>

            <div class="d-flex justify-content-end my-3">
                <button class="btn btn-info text-white" id="save">
                    Save Changes
                </button>
            </div>
        </div>



    </div>
</div>
<script>
    $(document).ready(function () {
        $('#save').click(function () {
            var notes = $('#floatingTextarea2').val();
            $.ajax({
                url: '@Url.Action("UpdateNotes","AdminDashboard")',
                type: 'POST',
                data: { notes: notes, requestid: @Model.requestId},
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Notes Updated",
                            icon: "success"
                        })
                        $.ajax({
                            url: '@Url.Action("ViewNotes","AdminDashboard")',
                            type: 'POST',
                            data: { requestid: @Model.requestId },
                            success: function (data) {
                                $('#divdiv').html(data);
                            },
                            error: function (error) {

                            }
                        });
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: result.message
                        });
                    }
                },
                error: function () {
                    alert('An error occured');
                }
            });
        });
    });
</script>
