@model HalloDocDAL.Model.AdminDashboard
@{
    var list = Model.pagedList.ToList();
    int nextPage = 0, previousPage = 0;
    if (Model.pagedList.hasNext)
    {
        nextPage = Model.pagedList.CurrentPage + 1;
    }
    if (Model.pagedList.hasPrevious)
    {
        previousPage = Model.pagedList.CurrentPage - 1;
    }
    int first = Model.pagedList.CurrentPage * Model.pagedList.PageSize - 9;
    if (Model.pagedList.TotalCount == 0)
    {
        first = 0;
    }
    int last;
    if (first + Model.pagedList.PageSize - 1 > Model.pagedList.TotalCount)
    {
        last = Model.pagedList.TotalCount;
    }
    else
    {
        last = first + Model.pagedList.PageSize - 1;
    }

    string[] colors = { "#5fbc61", "#ed9124", "#007fc6", "#e26277" };
    @if (Model.pagedList != null && Model.pagedList.Count > 0)
    {
        @foreach (var obj in Model.pagedList)
        {
            <div class="d-md-none tr" data-rid="@obj.requestId">
                <div class="bg-info-subtle " data-bs-toggle="collapse" data-bs-target="#collapseexample_@obj.requestId"
                     aria-expanded="false" aria-controls="collapseexample">
                    <div class="td" name='reqtype' hidden>
                        @obj.requesttype
                    </div>
                    <div class="flex-column gap-2 border-bottom border-5 pt-3 pb-5 px-4">
                        <div class="d-flex  justify-content-between mb-3">
                            <span class="mobilesearch fs-5 td" name="Name">@obj.firstName @obj.lastName</span>
                            @if (obj.requesttype == 4)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #e36478;"></div>
                                    <span class="fs-5">Business</span>
                                </div>
                            }
                            else if (obj.requesttype == 1)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #60bc60;"></div>
                                    <span class="fs-5">Patient</span>
                                </div>
                            }
                            else if (obj.requesttype == 2)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #ee9125;"></div>
                                    <span class="fs-5">Family/Friend</span>
                                </div>
                            }
                            else if (obj.requesttype == 3)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="border border-1 rounded-5 m-1" style="width: 15px; height:15px; background-color: #007fc7;"></div>
                                    <span class="fs-5">Concierge</span>
                                </div>
                            }
                        </div>
                        <div class="d-flex justify-content-between ">
                            <div class="">
                                <span class="fs-5">@obj.address</span>
                            </div>
                            <button class="btn btn-transparent border border-1 border-info text-info rounded-5">Map Location</button>
                        </div>

                    </div>
                </div>

                <div class="collapse position-relative" id="collapseexample_@obj.requestId">
                    <div class="d-flex flex-column gap-2 bg-info-subtle   mb-2 py-3 px-4 ">
                        <div class="text-end position-absolute w-100">
                            <a role="button" class="btn w-25 rounded-5 position-relative" style="background-color:white;bottom:35px;right:25px; color:#943DB8; border:1px solid #943DB8" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                        </div>

                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-calendar fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Date of Birth: @obj.dobdate / @obj.dobmonth / @obj.dobyear</span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-envelope fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5 ">Email: <span class="email">@obj.email</span></span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fas fa-phone fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5 ">Phone: <span class="phone">@obj.phone</span></span>
                        </div>
                        <div class="d-flex align-items-center ">
                            <i class="fa-regular fa-user fs-5 border border-1 border-info rounded-5 p-2 me-2"></i>
                            <span class="fs-5">Requestor: @obj.requestor</span>
                        </div>
                        @if (Model.pagedList[0].status == 1)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 assigncase" style="background-color: #943DB8">Assign Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5 cancelcase" style="background-color:  #E42929">Cancel Case</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #E42929" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 blockcase" style="background-color: #228B22">Block Patient</a>

                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 2)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 transferCase" style="background-color: #00ADEF">Transfer</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 clearCase" style="background-color: #EE9125">Clear Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5 sendAgreement" style="background-color: #228B22">Send Agreement</a>
                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 3)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #00ADEF" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})">Orders</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125">Doctors Note</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">Encounter</a>
                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 4 || Model.pagedList[0].status == 4)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #E42929" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                </div>
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("Orders","AdminDashboard",new{requestid = @obj.requestId})">Orders</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #145545">Doctors Note</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #228B22">Encounter</a>

                                </div>
                            </div>
                        }
                        @if (Model.pagedList[0].status == 6)
                        {
                            <div class="d-flex flex-column mt-3 gap-3">
                                <div class="d-flex gap-3 ">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #E42929" href="@Url.Action("ViewCase","AdminDashboard",new{requestid = @obj.requestId})">View Case</a>
                                </div>
                                <div class="d-flex gap-3">
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white rounded-5" style="background-color: #EE9125" href="@Url.Action("ViewUploads","AdminDashboard",new{requestid = @obj.requestId})">View Uploads</a>
                                    <a role="button" class="btn w-50 btn-transparent border border-1 text-white  rounded-5" style="background-color:  #228B22" href="@Url.Action("ViewNotes","AdminDashboard",new{requestid = @obj.requestId})">View Notes</a>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    }

    @if (Model != null)
    {
        <div class="tablediv d-none d-md-flex table-responsive">
            <table class="table w-100 caseTable" id="adminTable">
                <thead class="">
                    <tr>
                        <th scope="col" class="bg-secondary bg-opacity-25 ps-4" colspan="2">Name</th>
                        <th scope="col" class="bg-secondary bg-opacity-25">Phone</th>
                        <th scope="col" class="bg-secondary bg-opacity-25">Address</th>
                        @if (Model.state == 3)
                        {
                            <th scope="col" class="bg-secondary bg-opacity-25">Status</th>
                        }
                        <th scope="col" class="bg-secondary bg-opacity-25">Actions</th>

                    </tr>
                </thead>
                <tbody class="">

                    @foreach (var obj in Model.pagedList)
                    {
                        <tr style="color:white !important" data-rid="@obj.requestId" class="tr-@obj.requesttype align-middle tr">

                            <td class="td" name="reqtype" hidden>@obj.requesttype</td>
                            <td style="background:none;" class="td ps-4" name="Name">@obj.firstName @obj.lastName</td>

                            <td>
                                <a type="button" name="email" class="btn border border-light text-light" href="mailto:@obj.email">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                                    </svg>
                                    <span hidden class="email">
                                        @obj.email
                                    </span>

                                </a>
                            </td>

                            <td>
                                <button type="button" class="btn btn-outline-light phone"><i class="bi bi-telephone text-white"></i>@obj.phone</button><br>(Patient)
                                @if (obj.cphone != null && obj.requesttype != 1)
                                {
                                    <br>

                                    <button type="button" class="btn btn-outline-light"><i class="bi bi-telephone text-white"></i>@obj.cphone</button>

                                    <br>
                                    @if (obj.requesttype == 2)
                                    {
                                        <span>(Family/Friend)</span>
                                    }
                                    else if (obj.requesttype == 3)
                                    {
                                        <span>(Concierge)</span>
                                    }
                                    else
                                    {
                                        <span>(Business)</span>
                                    }
                                }

                            </td>

                            <td>@obj.address</td>

                            @if (Model.state == 3)
                            {
                                <td>
                                    @if (obj.status == 5)
                                    {
                                        <button class="btn btn-info" onclick="conclude(@obj.requestId)">House Call</button>
                                    }
                                </td>
                            }


                            <td>
                                @if (@obj.status == 1)
                                {

                                    <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu z-3" aria-labelledby="action">
                                        <li><a class="dropdown-item theme-color acceptcase"><i class="fa-regular fa-clipboard p-2"></i>Accept</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper p-2"></i> View Case</a></li>
                                        <li><a class="dropdown-item theme-color viewnotes"><i class="fa-solid fa-notes-medical p-2"></i> View Notes</a></li>
                                    </ul>
                                }

                                else if (@obj.status == 2)
                                {

                                    <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu z-3" aria-labelledby="action">
                                        <li><a class="dropdown-item theme-color sendAgreement" href="#"><i class="fa-solid fa-file-lines p-2"></i> Send Agreement</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper p-2"></i> View Case</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload p-2"></i> View Uploads</a></li>
                                        <li><a class="dropdown-item theme-color viewnotes"><i class="fa-solid fa-notes-medical p-2"></i> View Notes</a></li>
                                        <li><a class="dropdown-item theme-color transferCase" href="#"><i class="fa-regular fa-note-sticky p-2"></i> Transfer</a></li>
                                    </ul>
                                }
                                else if (@obj.status == 4 || @obj.status == 5)
                                {

                                    <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="action">
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper p-2"></i> View Case</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload p-2"></i> View Uploads</a></li>
                                        <li><a class="dropdown-item theme-color viewnotes"><i class="fa-solid fa-notes-medical p-2"></i> View Notes</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("Orders","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-cart-plus p-2"></i> Orders</a></li>
                                        <li><a class="dropdown-item theme-color" onclick="Encounter(@obj.requestId,@obj.isFinalized.ToString().ToLower(),@obj.status)"><i class="fa-regular fa-note-sticky p-2"></i> Encounter</a></li>
                                    </ul>

                                }
                                else if (@obj.status == 6)
                                {
                                    <button class="btn btn-outline-light " type="button" id="action" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="action">
                                        <li><a class="dropdown-item theme-color concludeCare"><i class="fa-solid fa-cart-plus p-2"></i> Conclude care</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewCase","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-regular fa-newspaper p-2"></i> View Case</a></li>
                                        <li><a class="dropdown-item theme-color" href="@Url.Action("ViewUploads","ProviderDashboard",new{requestid = @obj.requestId})"><i class="fa-solid fa-upload p-2"></i> View Uploads</a></li>
                                        <li><a class="dropdown-item theme-color viewnotes"><i class="fa-solid fa-notes-medical p-2"></i> View Notes</a></li>
                                        <li><a class="dropdown-item theme-color" onclick="Encounter(@obj.requestId,@obj.isFinalized.ToString().ToLower(),@obj.status)"><i class="fa-regular fa-note-sticky p-2"></i> Encounter</a></li>
                                    </ul>
                                }
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        @if(Model.pagedList.Count > 0)
        {
            <div class="d-flex justify-content-center">
                <p>
                    @first - @last of @Model.pagedList.TotalCount
                </p>
            </div>
            <div class="pb-5">
                <ul class="pagination justify-content-center mt-2 mb-4 ">
                    <li class="page-item mx-1 ">
                        <a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@previousPage)">&laquo;</a>
                    </li>
                    @if (Model.pagedList.hasPrevious)
                    {
                        <li class="page-item mx-1"><a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@previousPage)"> @previousPage </a></li>
                    }

                    <li class="page-item active mx-1">
                        <span class="page-link  bg-info border-info rounded">
                            @Model.pagedList.CurrentPage
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>

                    @if (Model.pagedList.hasNext)
                    {
                        <li class="page-item mx-1"><a class="page-link theme-color theme-background border-secondary-subtle rounded" onclick="changepage(@nextPage)"> @nextPage </a></li>
                    }

                    <li class="page-item mx-1">
                        <a class="page-link border-secondary-subtle rounded theme-color theme-background" onclick="changepage(@nextPage)">&raquo;</a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <h1 class="fw-bold align-items-center d-flex justify-content-center">No Requests to display</h1>
        }
    }
}
<div class="modal fade" id="cancelcaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Confirm Cancellation</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formcancel" method="post">
                    <p class="text-secondary"> Patient Name : <span class="text-info" id="cancelcaseName"> </span> </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                    <div class="form-group mb-3">
                        <select class="form-control" id="reason" name="reason" placeholder=" " required>
                            <option hidden value="">Reason for cancellation</option>
                            <option value="1">No Response to call or text</option>
                            <option value="2">Cost Issue</option>
                            <option value="3">Insurance Issue</option>
                            <option value="4">Out of service area</option>
                            <option value="5">Not appropriate for service</option>
                            <option value="6">Referral to Clinic or Hospital</option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating requiredcc">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floating-label"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="acceptCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body p-5">
                <h3>Confirmation for accept Request</h3>
                <p>Are sure you want to accept this Request?</p>
                <input type="hidden" id="acceptRequestid" />
                <button type="button" class="btn btn-info text-light" id="acceptCase" data-bs-dismiss="modal">Accept</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="transferCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Transfer Request</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="formtransfer">
                    <p class="text-secondary"> This request will be transferd to Admin. </p>
                    <input type="hidden" id="Transfercaseid" name="Requestid">

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating">
                            <textarea class="form-control" placeholder="" id="TransfercaseDescription" style="height: 100px" name="description" required></textarea>
                            <label for="TransfercaseDescription" class="floatingLabel"> Description </label>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Submit</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="blockcaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Block Case</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formblock" method="post">
                    <p class="text-secondary"> Patient Name : <span class="text-info" id="blockcasename"> </span> </p>
                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />

                    <div class="form-group mb-3">
                        <div class="mb-3 form-floating requiredbc">
                            <textarea class="form-control" placeholder="" id="info" style="height: 100px" name="info" required></textarea>
                            <label for="info" class="floating-label"> Provide additional information </label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Send Agreement</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <div class="border border-1 rounded-5 m-1" id="circle" style="width: 15px; height:15px;"></div>
                    <span class="fs-5" id="sendtype"></span>
                </div>
                <p class="text-secondary">To send the agreement please make sure you are updating the correct contact information below for the responsible party</p>
                <form id="sendAgreementForm" method="post">

                    <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />

                    <div class="form-group mb-3">
                        <div class="form-group pb-3 form-floating requiredsa">
                            <input type="text" placeholder="Phone Number" class="form-control" id="sendnumber" name="sendnumber"
                                   aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="floating-label">Phone Number</label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div class="form-group pb-3 form-floating required">
                            <input type="text" placeholder="Email" class="form-control" id="sendemail" name="sendemail"
                                   aria-describedby="emailHelp">
                            <label for="exampleInputEmail1" class="floating-label">Email</label>
                            <span style="color:red; display:none">Required!</span>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="submit" class="btn btn-info text-white">Confirm</button>
                        <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clearCaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body p-5">
                <i class="fa-solid fa-circle-exclamation fa-4x text-warning border border-1 p-2 border-warning rounded-circle mb-3"></i>
                <h3>Confirmation for clear case</h3>
                <p>Are sure you want to clear this request? Once clear this request then you are not able to see this request.</p>
                <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                <button type="button" class="btn btn-info text-light" id="clearCase">Clear</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="encounterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Encounter Form</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-secondary">Encounter Form is Finalized successfully</p>
                <input type="hidden" class="requestId" value="" name="requestId" id="requestId" />
                <div class="text-center">
                    <button type="button" id="downenc" class="btn btn-info text-white">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="typeOfCare" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLongTitle">Select Type Of Care</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="typeOfCareRequestId" />
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn mx-3 border border-info rounded-1 text-info" id="housecall" type="button" onclick="HouseCall()">Housecall</button>
                    <button class="btn border border-info rounded-1 text-info" id="consult" onclick="Consult()">Consult</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info text-white" onclick="typeOfCareSaveBtn()" data-bs-dismiss="modal">Save</button>
                <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#formcancel').on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this)
            var validate = true;
            $('.requiredcc').each(function () {
                var div = $(this);
                if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                    Swal.fire({
                        title: "Information required",
                        text: "Please enter all the details",
                        icon: "error"

                    });
                    var span = $(div).children('span');
                    span.show();

                    validate = false;
                }
            })
            if (validate) {
                $.ajax({
                    url: '@Url.Action("CancelCase","AdminDashboard")',
                    type: 'POST',
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            Swal.fire({
                                title: "Good job!",
                                text: "Request cancelled succesfully",
                                icon: "success"
                            }).finally(() => {
                                window.location.reload();
                            });

                        }
                        else {
                            if (result.message != null) {
                                alert(result.message)
                            }
                            else {
                                window.location.href = "/Login/PatientLogin";
                            }
                        }
                    },
                    error: function () {
                        alert('An error occured');
                    }
                });
            }
        });

        $("#formtransfer").on('submit', function (e) {
            e.preventDefault();
            var requestid = $("#Transfercaseid").val();
            var description = $("#TransfercaseDescription").val();
            $.ajax({
                url: "/ProviderDashboard/TransferCase",
                data: { requestid: requestid, description: description },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Request cancelled succesfully",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        }).finally(() => {
                            window.location.reload();
                        });
                    }
                }
            })
        })

        $('.viewnotes').click(function () {
            var rid = $(this).closest('.tr').data('rid');
            $.ajax({
                url: '@Url.Action("ViewNotes","ProviderDashboard")',
                type: 'POST',
                data: { requestid: rid },
                success: function (data) {
                    $('#divdiv').html(data);
                },
                error: function (error) {

                }
            });
        })

        $('.concludeCare').click(function () {
            var rid = $(this).closest('.tr').data('rid');
            $.ajax({
                url: '@Url.Action("ConcludeCare","ProviderDashboard")',
                type: 'POST',
                data: { requestid: rid },
                success: function (data) {
                    $('#divdiv').html(data);
                },
                error: function (error) {

                }
            });
        })

        $('.regionSelect').change(function () {
            var selectedRegion = $(this).val();
            $.ajax({
                url: '@Url.Action("GetPhysiciansByRegion","AdminDashboard")',
                type: 'POST',
                data: { region: selectedRegion },
                success: function (data) {
                    var physicianSelect = $('.physicianSelect');
                    physicianSelect.empty().append('<option value="">Select Physician</option>');
                    $.each(data, function (i, physician) {
                        physicianSelect.append($('<option>', {
                            value: physician.Physicianid,
                            text: physician.Firstname
                        }));
                    });
                },
                error: function (error) {
                    console.error('Error fetching Physicians:', error)
                }
            });
        });

        $("#acceptCase").click(function () {
            var requestid = $("#acceptRequestid").val();
            $.ajax({
                url: '@Url.Action("AcceptCase","ProviderDashboard")',
                type: 'POST',
                data: { requestid: requestid },
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Request accepted succesfully",
                            icon: "success"
                        }).finally(() => {
                            window.location.reload();
                        });

                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('An error occured');
                }
            });
        })

    });


    $('#formblock').on('submit', function (e) {
        e.preventDefault();
        var data = new FormData(this)
        var validate = true;
        $('.requiredbc').each(function () {
            var div = $(this);
            if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                Swal.fire({
                    title: "Information required",
                    text: "Please enter all the details",
                    icon: "error"

                });
                var span = $(div).children('span');
                span.show();

                validate = false;
            }
        })
        if (validate) {
            $.ajax({
                url: '@Url.Action("BlockCase","AdminDashboard")',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.success) {
                        Swal.fire({
                            title: "Good job!",
                            text: "Request blocked",
                            icon: "success"
                        }).finally(() => {
                            window.location.reload();
                        });

                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('An error occured');
                }
            });
        }

    });

    $('#clearCase').on('click', function () {

        var id = $(".requestId").val();
        $.ajax({
            url: '@Url.Action("ClearCase","AdminDashboard")',
            type: 'POST',
            data: { requestid: id },
            success: function (result) {
                if (result.success) {
                    Swal.fire({
                        title: "Good job!",
                        text: "Request cleared",
                        icon: "success"
                    }).finally(() => {
                        window.location.reload();
                    });

                }
                else {
                    alert(result.message);
                }
            },
            error: function () {
                alert('An error occured');
            }
        });
    });

    $('#sendAgreementForm').on('submit', function (e) {
        e.preventDefault();
        var data = new FormData(this)
        var validate = true;
        $('.requiredsa').each(function () {
            var div = $(this);
            if ($(div).find('input').val() == "" || $(div).find('textarea').val() == "") {
                Swal.fire({
                    title: "Information required",
                    text: "Please enter all the details",
                    icon: "error"

                });
                var span = $(div).children('span');
                span.show();

                validate = false;
            }
        })
        if (validate) {
            $.ajax({
                url: '@Url.Action("SendAgreement","ProviderDashboard")',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                success: function (result) {
                    if (result.success) {
                        $("#sendAgreementModal").modal('hide');
                        Swal.fire({
                            title: "Success!",
                            text: "Email Sent",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        })

                    }
                    else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('An error occured');
                }
            });
        }

    });

    $("#downenc").click(function () {
        var rid = $('.requestId').val();
        $.ajax({
            url: '@Url.Action("GeneratePDF","ProviderDashboard")',
            data: { requestid: rid },
            success: function () {
                window.location.href = '@Url.Action("GeneratePDF","ProviderDashboard")' + "?requestid=" + rid;
            }
        })
    });

</script>

<script>
    $(document).on("click", ".cancelcase", function () {
        $("#cancelcaseModal").modal('show');
        $("#cancelcaseName").text($(this).closest('.tr').find(".td[name='Name']").text());
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".acceptcase", function () {
        $("#acceptCaseModal").modal('show');
        $("#acceptRequestid").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".blockcase", function () {
        $("#blockcaseModal").modal('show');
        $("#blockcasename").text($(this).closest('.tr').find(".td[name='Name']").text());
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".transferCase", function () {
        $("#transferCaseModal").modal('show');
        $("#Transfercaseid").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".clearCase", function () {
        $("#clearCaseModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
    });

    $(document).on("click", ".sendAgreement", function () {
        $("#sendAgreementModal").modal('show');
        $(".requestId").val($(this).closest('.tr').data('rid'));
        $("#sendnumber").val($(this).closest('.tr').find(".phone").text());
        $("#sendemail").val($(this).closest('.tr').find(".email").text().trim());

        var rt = $(this).closest('.tr').find(".td[name='reqtype']").text();

        if (rt == 1) {
            $("#sendtype").text("Patient");
            $("#circle").css("background-color", "#60bc60");
        }
        else if (rt == 2) {
            $("#sendtype").text("Family/Friend");
            $("#circle").css("background-color", "#ee9125");

        }
        else if (rt == 3) {
            $("#sendtype").text("Concierge");
            $("#circle").css("background-color", "#007fc7");

        }
        else {
            $("#sendtype").text("Business");
            $("#circle").css("background-color", "#e36478");

        }
    });

    function Encounter(rid, isFinalized, status) {

        if (status == 4) {
            $("#typeOfCare").modal('show');
            $("#typeOfCareRequestId").val(rid);
        }
        else {
            if (isFinalized) {
                $("#encounterModal").modal('show');
                $(".requestId").val(rid);
            }
            else {
                location.href = "/ProviderDashboard/Encounter?requestid=" + rid;
            }
        }

    }

    var housecall = 0;
    var consult = 0;

    function HouseCall() {
        housecall = 1;
        consult = 0;
        var c = document.getElementById("housecall");
        c.classList.remove("border");
        c.classList.remove("border-info");
        c.classList.remove("rounded-1");
        c.classList.remove("text-info");
        c.classList.add("mx-3");
        c.classList.add("border");
        c.classList.add("btn-info");
        c.classList.add("text-white");

        var someoneelse = document.getElementById("consult");
        someoneelse.classList.add("border");
        someoneelse.classList.add("border-info");
        someoneelse.classList.add("rounded-1");
        someoneelse.classList.add("text-info");
        someoneelse.classList.remove("mx-3");
        someoneelse.classList.remove("border");
        someoneelse.classList.remove("btn-info");
        someoneelse.classList.remove("text-white");
    }

    function Consult() {
        consult = 1;
        housecall = 0;
        var c = document.getElementById("consult");
        c.classList.remove("border");
        c.classList.remove("border-info");
        c.classList.remove("rounded-1");
        c.classList.remove("text-info");
        c.classList.add("mx-3");
        c.classList.add("border");
        c.classList.add("btn-info");
        c.classList.add("text-white");

        var me = document.getElementById("housecall");
        me.classList.add("border");
        me.classList.add("border-info");
        me.classList.add("rounded-1");
        me.classList.add("text-info");
        me.classList.remove("mx-3");
        me.classList.remove("border");
        me.classList.remove("btn-info");
        me.classList.remove("text-white");
    }

    function typeOfCareSaveBtn() {
        if (housecall == 1) {
            var id = $('#typeOfCareRequestId').val();

            $.ajax({
                url: '/ProviderDashboard/ChangeStatus',
                type: 'POST',
                data: { Requestid: id, status: 5 },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                },
            });
        }

        if (consult == 1) {
            var id = $('#typeOfCareRequestId').val();

            $.ajax({
                url: '/ProviderDashboard/ChangeStatus',
                type: 'POST',
                data: { Requestid: id, status: 6 },
                success: function (result) {
                    if (result.success) {
                        window.location.reload();
                    }
                },
            });
        }
    }

    function conclude(requestid) {
        $.ajax({
            url: '/ProviderDashboard/ChangeStatus',
            type: 'POST',
            data: { Requestid: requestid, status: 6 },
            success: function (result) {
                if (result.success) {
                    window.location.reload();
                }
            },
        });
    }
</script>