@model HalloDocDAL.Model.ChatModel

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header bg-info">
        @if (Model.chatWith == "patient")
        {
            <h5 id="offcanvasRightLabel" class="text-light">
                @Model.Patientname
            </h5>
        }
        else
        {
            <h5 id="offcanvasRightLabel" class="text-light">
                Admin
            </h5>
        }
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid position-relative h-100 pb-5">
            <div class="row h-100 overflow-auto flex-column-reverse">
                <div class="col-12 pe-4">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>

        <input type="hidden" id="senderId" value="@Model.SenderId" />
        <input type="hidden" id="senderType" value="@Model.SenderType" />
        <input type="hidden" id="receiverId" value="@Model.ReceiverId" />
        <input type="hidden" id="receiverType" value="@Model.ReceiverType" />
        <input type="hidden" id="chatid" />

        <div class="row d-flex position-absolute bottom-0 pb-3 w-100 pe-5">
            <div class="col-10 mt-3 pe-1">
                <input type="text" class="form-control" id="messageInput" placeholder="Type a Message">
            </div>
            <div class="col-2 mt-3 text-end">
                <button type="button" class="btn btn-info rounded" id="sendButton" onclick="sendMessage(event)">
                    <i class="bi bi-send text-light"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>

@if (Model.isUser)
{
    <script>
        $(document).ready(function () {
            var myOffcanvas = document.getElementById('offcanvasRight');
            var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);

            bsOffcanvas.show();
        });

        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        document.getElementById("sendButton").disabled = true;

        connection.on("ReceiveMessages", function (messages, ChatId) {
            var senderType = document.getElementById("senderType").value;
            $("#chatid").val(ChatId);

            messages.forEach(function (message) {
                var li = document.createElement("li");
                li.style.listStyleType = "none";
                if (message.messageBy == senderType) {
                    li.classList.add("d-flex");
                    li.classList.add("justify-content-end");
                }

                var div = document.createElement("div");
                div.textContent = `${message.message}`;
                div.classList.add("d-flex");
                div.classList.add("flex-column");
                div.classList.add("bg-info");
                div.classList.add("p-1");
                div.classList.add("px-3");
                div.classList.add("border");
                div.classList.add("rounded");
                div.classList.add("text-white");
                div.style.wordBreak = "break-all";
                div.style.width = "fit-content";
                li.appendChild(div);

                var li2 = document.createElement("li");
                li2.style.listStyleType = "none";
                li2.classList.add("mb-2");
                if (message.messageBy == senderType) {
                    li2.classList.add("d-flex");
                    li2.classList.add("justify-content-end");
                }

                var div2 = document.createElement("div");
                div2.textContent = `${message.time}`;
                div2.style.fontSize = "12px";
                div2.classList.add("p-1");
                div2.classList.add("text-secondary");
                div2.style.width = "fit-content";

                li2.appendChild(div2);

                document.getElementById("messagesList").appendChild(li);
                document.getElementById("messagesList").appendChild(li2);
            });
        });

        connection.on("ReceiveMessage", function (messageData) {
            var senderType = document.getElementById("senderType").value;
            var chatid = document.getElementById("chatid").value;

            if (chatid == messageData.chatId) {
                var li = document.createElement("li");
                li.style.listStyleType = "none";
                if (messageData.messageBy == senderType) {
                    li.classList.add("d-flex");
                    li.classList.add("justify-content-end");
                }
                if (messageData.messageBy != senderType) {
                    displayNotification(messageData.messageBy, messageData.message);
                }

                var div = document.createElement("div");
                div.textContent = `${messageData.message}`;
                div.classList.add("d-flex");
                div.classList.add("flex-column");
                div.classList.add("bg-info");
                div.classList.add("p-1");
                div.classList.add("px-3");
                div.classList.add("border");
                div.classList.add("rounded");
                div.classList.add("text-white");
                div.style.wordBreak = "break-all";
                div.style.width = "fit-content";
                li.appendChild(div);

                var li2 = document.createElement("li");
                li2.style.listStyleType = "none";
                li2.classList.add("mb-2");
                if (messageData.messageBy == senderType) {
                    li2.classList.add("d-flex");
                    li2.classList.add("justify-content-end");
                }

                var div2 = document.createElement("div");
                div2.textContent = `${messageData.time}`;
                div2.style.fontSize = "12px";
                div2.classList.add("p-1");
                div2.classList.add("text-secondary");
                div2.style.width = "fit-content";

                li2.appendChild(div2);

                document.getElementById("messagesList").appendChild(li);
                document.getElementById("messagesList").appendChild(li2);
            }
            
        });

        function getMessages(senderId, senderType, receiverId, receiverType) {
            connection.invoke("GetMessages", senderId, senderType, receiverId, receiverType).catch(function (err) {
                return console.error(err.toString());
            });
        }

        connection.start().then(function () {
            document.getElementById("sendButton").disabled = false;
            var senderId = parseInt(document.getElementById("senderId").value);
            var senderType = document.getElementById("senderType").value;
            var receiverId = parseInt(document.getElementById("receiverId").value);
            var receiverType = document.getElementById("receiverType").value;

            getMessages(senderId, senderType, receiverId, receiverType);
        }).catch(function (err) {
            return console.error(err.toString());
        });

        function sendMessage(event) {
            var senderId = parseInt(document.getElementById("senderId").value);
            var senderType = document.getElementById("senderType").value;
            var receiverId = parseInt(document.getElementById("receiverId").value);
            var receiverType = document.getElementById("receiverType").value;
            var message = document.getElementById("messageInput").value;

            connection.invoke("SendMessage", senderId, senderType, receiverId, receiverType, message).catch(function (err) {
                return console.error(err.toString());
            });

            document.getElementById("messageInput").value = "";

            event.preventDefault();
        }

        var myOffcanvas = document.getElementById('offcanvasRight');
        myOffcanvas.addEventListener('hidden.bs.offcanvas', function () {
            connection.stop();
        });
    </script>
}
else
{
    <script>
        toastr.error("User does not have account!");
    </script>
}
